.icon {
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  width: 30px;
}

@keyframes pulse {
  from { 
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 1);
  }
  to { 
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
}

.pulse {
  animation: pulse 1.5s infinite;
}
