.plus_icon {
  display: inline-flex;
}

.plus_icon-icon {
  transition: .25s all;
  z-index: 1;
}

.plus_icon-icon span {
  border: 1px solid black;
}

.plus_icon-icon span:first-child {
  width: 65%;
}

.plus_icon-icon span:last-child {
  height: 65%;
}

.rotate {
  transform: rotate(45deg);
}

.plus_icon-content {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: none;
  padding: 0 25px;
  position: relative;
  left: -10%;
}

.plus_icon-content p {
  margin: auto;
}
